.todos-list-item {
  width: 100%;
  position: relative;
  border-style: ridge;
  border-color: rgb(16, 16, 56);
  margin-bottom: 10px;
}
 p{
  white-space: normal;
  word-wrap: normal;
  width: 70vw;


}


